* {
    margin:0;
    padding:0;
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
html, body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 10px;
    width: 300px;
    max-height: 100%;
}
h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}
a:link {
    color: #ffffff;
    text-decoration: none;
}
a:visited {
    color: #ffffff;
}
a:hover {
    color: #bfbfbf;
}
a:active {
    color: #00ccff;
}
img {
    width: 90px;
}
.modal-header {
    align-items: center;
}
.modal-icons {
    border-bottom: 0.5px solid #bfbfbf;
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
}
.modal-content, .schoology-content, .general-content, .blooket-content {
    border-top: 0.5px solid #bfbfbf;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    display: flex;
}
.flex-container {
    display: flex;
}
button {
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    background-color: #ffffff;
    border: none;
    color: #000000;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    background-color:#bfbfbf;
}
button:focus {
    background-color:#00ccff;
}
a.button {
  color: white;
}
.logo_blooket {
    font-size: 35px;
}
.about {
    border-top: 0.5px solid #bfbfbf;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    display: flex;
}